@model IEnumerable<ExamenApplication.Models.empleado>

@{
    ViewBag.Title = "Empleados";
}

<h2>Empleados de Star Group</h2>

<p>
    @Html.ActionLink("Nuevo Empleado", "Create")
</p>
<table class="table table-sm">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.area.nom_area)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nom_empleado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.area.nom_area)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nom_empleado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.emp_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.emp_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.emp_id })
        </td>
    </tr>
}

</table>
