@model IEnumerable<ExamenApplication.Models.empleado>

@{
    ViewBag.Title = "Empleados";
}

<h2>Empleados de Star Group</h2>


<table class="table">
    <tr>
        <th>
             Área
        </th>
        <th>
            Empleado
        </th>
        <th></th>
    </tr>

    @*Muestra la lista de los empleados y sus respectivas áreas*@
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.area.nom_area)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nom_empleado)
            @Html.DisplayFor(modelItem => item.ap_pat)
            @Html.DisplayFor(modelItem => item.ap_mat)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.emp_id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.emp_id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.emp_id })
        </td>
    </tr>



}

</table>

<p>
    @Html.ActionLink("Agregar Nuevo Empleado", "Create")
</p>
